@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* :root{
  --yellow: #f9d806;
  --light-yellow: #ffee80;
  --black: #130f40;
  --light-color: #666;
  --border: .1rem solid rgba(0,0,0,0.1);
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
} */

:root {
  --yellow: #f9bf3b;               
  --light-yellow: #ffeaa7; 
  --black: #1f1f1f;         
  --light-color: #7a7a7a;    
  --border: 0.1rem solid #3a3a3a; 
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
/* header */

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  background-color: var(--light-yellow);
  color: var(--black);
  font-size: 1.7rem;
  cursor: pointer;
  padding: .8rem 2.5rem;
}

.btn:hover{
  background-color: var(--yellow);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background:  #111113;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%; 
}

.header .logo{
  font-size: 2.5rem;
  color: var(--yellow);
  font-weight: bold;
}

.header .logo span{
  color: var(--light-yellow);
}

.header .custom-navbar a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--light-yellow);
}

.header .custom-navbar a:hover{
  color: var(--yellow);
}

.header .btn{
  margin-top: 0;
}

.header #login-btn i{
  font-size: 2.5rem;
  color: var(--light-yellow);
  cursor: pointer;
  display: none;
}

#menu-btn{
  font-size: 2.5rem;
  color: var(--light-yellow);
  cursor: pointer;
  display: none;
}

header .active{
  box-shadow: var(--box-shadow);
  padding: 2rem 9%;
}
/* login form */
.login-form-container{
  position: fixed;
  top: -105%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
}

.login-form-container.active{
  top: 0;
  opacity: 1;
}

.login-form-container form{
  margin: 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--light-color);
  text-align: center;
  width: 40rem;
}

.login-form-container form .buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-form-container form .btn{
  display: block;
  width: 100%;
  margin: .5rem 0;
  background-color: var(--yellow);
}

.login-form-container form h3{
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.login-form-container form .box{
  margin: .7rem 0;
  width: 100%;
  text-transform: none;
  color: var(--black);
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border: var(--border);
  border-radius: .5rem;
}

.login-form-container form p{
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.login-form-container form p a{
  color: var(--yellow);
  text-decoration: underline;
}

.login-form-container #close-login-form{
  position: fixed;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  color: var(--black);
  cursor: pointer;
}

.contact-heading-bg {
  background: url('https://images.unsplash.com/photo-1695395854362-5b51527340d7?q=80') no-repeat center center/cover;
  padding: 150px 0;
  text-align: center;
  /* margin-bottom: 1rem; */
  color: white;
}

.contact-heading-bg h2 {
  color: white;
  font-size: 4.5rem;
}
.contact-heading-bg h2 span {
  color: var(--yellow);
}

.contact-heading-bg p {
    color: var(--yellow);
  font-size: 1.8rem;
}



.contact-section {
  background: #ffffff;
  padding: 60px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.contact-section .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact-section .row1{
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
}
.contact-section .row .map{
  flex: 1 1 42rem;
  width: 100%; 
  padding: 2rem;
  border:  1px solid var(--yellow);
  border-radius: .1rem;
  box-shadow: var(--box-shadow);
}

.contact-section .row form{
  flex: 1 1 42rem;
  padding: 2rem;
  border: 1px solid var(--yellow);
  border-radius: .1rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.contact-section .row form h3{
  font-size: 2.5rem;
  color: var(--black);
  padding-bottom: 1rem;
}
.contact-section .row form .box{
  width: 100%;
  padding: 1rem;
  margin: .7rem 0;
  border: 1px solid var(--yellow);
  border-radius: .5rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  border-radius: .5rem;
}

.contact-section .row form .col{
  display: flex;
  gap: 1rem;
}

.contact-section .row form textarea{
  height: 15rem;
  resize: vertical;
}

.contact-info {
  flex: 1 1 10rem;
  background-color: var(--yellow);
  padding: 2rem;
  color: var(--black);
  border-radius: .1rem;
}

.contact-info h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

 .contact-info p {
  font-size: 1.5rem;
  margin: 2.5rem 1rem;
  line-height: 1.6;
}

.contact-info p i {
  margin-right: .8rem;
}



/* footer */
.footer{
    background: #111113;
    padding: 3rem 9%;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--yellow);
}

.footer .box-container .box a{
  color: var(--light-yellow);
  font-size: 1.4rem;
  display: block;
  padding: 1rem 0;
}

.footer .box-container .box a i{
  padding-right: .7rem;
  color: var(--yellow);
}

.footer .box-container .box a:hover i{
  padding-right: 2rem;
}

.footer .credit{
  text-align: center;
  color: var(--light-yellow);
  border-top: var(--border);
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}




/* media queries */
@media(max-width: 991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 1rem;
  }

  header .active{
  padding: 2rem;
}
}

@media(max-width: 960px){
  #menu-btn{
    display: block;
  }

  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .header #login-btn i{
    display: block;
  }

  .header #login-btn .btn{
    display: none;
  }

  .header .custom-navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #111113;
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .custom-navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .custom-navbar a{
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

   .hero {
    justify-content: center;
    text-align: center;
  }

  .hero .content {
    padding: 2rem;
  }

  .hero h1 {
    font-size: 3.5rem;
  }
}

@media(max-width: 450px){
  html{
    font-size: 50%;
  }

}